input, button {
  font-size: 20px;
  padding: 5px;
}

input {
  width: 510px;
}

.profile {
  background: #606c88;
  width:600px;
  padding: 20px 20px 10px 20px;
  font-family: Helvetica Neue;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 20px;
  background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%);
  display: none;
}

.profile a {
    color: #fff;
}


.profile .left {
    width: 110px;
    float: left;
}

.profile .right {
    width: 450px;
    float: right;
    padding: 0 20px;
}

.profile .right h3 {
    margin-top: 0;
}

.profile img {
    width:100%;
}